.padding-top-bottom-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-top-20px{
	padding-top: 20px;
}

.padding-bottom-20px{
	padding-bottom: 20px;
}

.padding-left-0px{
    padding-left: 0px;
}

.padding-right-0px{
    padding-right: 0px;
}

.margin-bottom-15px{
    margin-bottom: 15px;
}

.margin-0-auto{
	margin: 0 auto !important;
}

.cream-purple{
	background: #A75265;
    color: white;
}

.input-line{
	border: 0;
    border-bottom: 1px solid #868e97;
    
}

.button-salmon-creamy{
	background-color: #FF5434 !important;
    color: #FFFF9D !important;
    font-weight: 600 !important;
    padding: 10px 25px !important;
    min-width: 100px !important;
}

.button-wasabi-creamy{
	background-color: #ADCF4F !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
    padding: 10px 25px !important;
    min-width: 100px !important;
}

.button-orange-creamy{
	background-color: #FFA543 !important;
    color: #F7F2B2 !important;
    font-weight: 600 !important;
    padding: 10px 25px !important;
    min-width: 100px !important;
}

.input-underline-creamy
{
	border: none !important;
    background-color: transparent !important; 
    border-bottom: 1px solid #FBFF57 !important;
    height: 43px !important;
}

.input-underline-creamy:focus{
    background-color: transparent !important;
    border: 1px solid yellow !important;
    height: 43px !important;
}

.background-grey{
	background-color: #36362C !important;
}

.font-creamy-large{
	font-size: medium !important;
    color: #FFFF9D !important;
}

.font-title-x-large{
	font-size: x-large !important;
    color: white !important;
}

.padding-top-50px{
	padding-top: 50px !important;
}

.min-width-100px{
	min-width: 100px !important;
}

.table.table-light > thead > tr > th {
	color: #555555;
}

.table.table-light > tbody > tr > td {
	color: #555555;
}

.text-green{
    color: green;
}

.text-red{
    color: red;
}

.border-bottom-with-10px-padding-bottom{
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.border-grey-navy{
    border: 1px solid #868e97 !important;
}

.li-hover:hover{
    background: #36D7B7 !important;
    color:white !important;
}

.li-hover:hover .hover-icon{
    color:white !important;
}

.portlet-title-color{
    background-color: #0B877D !important;
}

.portlet-box-border-color{
    border: 1px solid #0B877D;
}

.icon-home-color{
    color: #36D7B7 !important;
}

.border-color-light-turquoise{
    border-color: #18C59C;
}

.background-color-light-turquoise{
    background: #15B08B !important;
}

.loader {
    visibility: hidden;
    border: 16px solid #f3f3f3;
    border-radius: 50% !important;
    border-top: 16px solid #61F9D4;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 250px;
    z-index: 9997;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dimScreen
{
    visibility: hidden;
    position:fixed;
    padding:0;
    margin:0;
    z-index: 9996;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}
